.card{
    margin-top: 50%;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
}

img{
    margin-top:-80px;
}
.card h1{
    font-family: 'Montserrat', sans-serif;
   
}
.card h1 *{
    font-family: 'Montserrat', sans-serif;

}
fa-icon{
    color: #ff8f09;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
}
p{
    margin:0;
}
.border-danger {
    border-color: #ff8f09!important;
    border: 5px solid #ff8f09;
    padding: 0;
}
.card-title{
    margin-top: 20px;
    color: #024a81;
    text-align: left;
    width: 80%;
    margin: 20px auto 20px auto;
}
.btn-warning {
    color: #ffffff;
    background-color: #ff8f09;
    border-color: #ff8f09;
    border-radius: 0;
}
.btn-warning:hover{
    box-shadow: none;
    background-color: #e88208;
    border-color: #e88208;
    outline: none;

}
.card-text{
    width: 80%;
    float: none;
    display: flex;
    text-align: left;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
}